@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700;800;900&display=swap');

@font-face{
    font-family: Gotham;
    src: url(./GothamRounded-Bold.otf);
}

.acougue{
    background-image: url('images/acougue.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.peixaria{
    background-image: url('images/peixaria.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.cafeteria{
    background-image: url('images/cafeteria.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.frios{
    background-image: url('images/frios.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.padaria{
    background-image: url('images/padaria.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.salsicharia{
    background-image: url('images/salsicharia.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container{
    display: grid;
    grid-template-columns: 4fr 3fr;
    height: 100vh;
    align-items: center;
}

.tabela{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Gotham, sans-serif;
    font-weight: 700;
    padding-top: 12%;
}

tr{
    color: #fff;
    font-size: .9rem;
}

td{
    color: #fff;
    font-size: 1.9rem;
    padding: .5rem .9rem;
}

.tabela--cifrao{
    color: yellow;
    width: 15px;
}

.tabela--preco{
    color: yellow;
    text-align: end;
}

@media screen and (min-width: 1500px) {
    tr{
        color: #fff;
        font-size: 2rem;
    }

    td{
        font-size: 2.5rem;
        padding: .6rem .9rem;
    }
  }